# The loopback network interface
auto lo
iface lo inet loopback

{% macro debconf(conf) %}
{% for key, value in conf.items() %}
{% if value %}    {{ key }} {{ value }}
{% endif %}
{% endfor %}
{% endmacro -%}

auto {{ public_interface }}
{% if public_ip is defined %}
iface {{ public_interface }} inet static
    address {{ public_ip }}
{{ debconf(network.public.debconf) }}
{% else %}
iface {{ network.public.interface }} inet dhcp
{% endif %}

{% if control_ip is defined %}
auto {{ network.control.interface }}
iface {{ network.control.interface }} inet static
    address {{ control_ip }}
{{ debconf(network.control.debconf) }}
{% endif %}
