# См. https://manpages.debian.org/testing/corosync/corosync.conf.5.en.html

totem {
	version: 2
	cluster_name: hac
	transport: knet

	token: 3000

	knet_compression_model: bzip2
	knet_compression_threshold: 10
	knet_compression_level: 1

	crypto_hash: none
	crypto_cipher: none

	interface {
		linknumber: 0
		knet_transport: udp
		bindnetaddr: {{ network.control.address }}.0
		knet_link_priority: 0
	}
}

logging {
	fileline: off
	to_stderr: no
	to_logfile: no
	to_syslog: yes
	syslog_facility: daemon
	debug: off
	timestamp: on
	logger_subsys {
		subsys: QUORUM
		debug: off
	}
}

quorum {
	provider: corosync_votequorum
}

nodelist {
	{% for host in groups.nodes %}
	node {
		ring0_addr: {{ hostvars[host]['control_ip'] }}
		nodeid: {{ loop.index }}
		name: {{ host }}
	}
	{% endfor %}
}
