# The loopback network interface
auto lo
iface lo inet loopback

{% if vagrant|default(false) %}
auto eth0
iface eth0 inet dhcp
{% endif %}

{% macro debconf(conf) %}
{% for key, value in conf.items() %}
{% if value %}    {{ key }} {{ value }}
{% endif %}
{% endfor %}
{% endmacro -%}

{% macro bonding(conf) %}
{% if conf.bonding %}
    bond-mode active-backup
    bond-miimon 100
    bond-slaves {%- for eth in conf.bonding %} {{ eth }} {%- endfor %}

    bond-primary {%- for eth in conf.bonding %} {{ eth }} {%- endfor %}
{% endif %}
{% endmacro %}

# network of cluster control (private network)
auto {{ network.control.interface }}
iface {{ network.control.interface }} inet {% if network.control.dhcp -%} dhcp {%- else -%} static {%- endif %}

{% if not network.control.dhcp %}
    address {{ control_ip }}
{{ debconf(network.control.debconf) }}
{% endif %}{# not network.control.dhcp #}
{{ bonding(network.control) }}

{% macro pubnet(interface) %}
auto {{ interface }}
iface {{ interface }} inet  {% if network.public.dhcp -%} dhcp {%- else -%} static {%- endif %}

{% if not network.public.dhcp %}
    address {{ public_ip }}
{{ debconf(network.public.debconf) }}
{% endif %}{# not network.control.dhcp #}
{% endmacro %}

# network of cluster data (public network)
{% if not network.public.bridge %}
{{ pubnet(network.public.interface) }}
{{ bonding(network.public) }}
{% else %}
auto {{ network.public.interface }}
iface {{ network.public.interface }} inet manual
{{ bonding(network.public) }}

{{ pubnet(network.public.bridge) }}
    bridge_ports {{ network.public.interface }}
{% endif %}{# network.public.bridge #}

