SET ac_session_maclabel = '{{ '{' +  item.max_level|string + ',0}' }}';
CREATE DATABASE "{{ item.name }}" ENCODING utf8;
\c "{{ item.name }}";
MAC CCR ON DATABASE "{{ item.name }}" IS OFF;
MAC CCR ON SCHEMA public IS OFF;
MAC LABEL ON SCHEMA public IS '{{ '{' +  item.max_level|string + ',0}' }}';

ALTER DATABASE "{{ item.name }}" OWNER TO "{{ item.owner }}";
ALTER SCHEMA public OWNER TO "{{ item.owner }}";

